<div class="container">
<mat-card class="profile_menu">
    <br>
     <button mat-raised-button [routerLink]= "'/buyer-profile'">Detalle de la cuenta</button>
     <button mat-raised-button [routerLink]= "'/my-purchases'">Mis pedidos</button>
     <button mat-raised-button [routerLink]="'/home'">Cerrar sesion</button>
     <br>
</mat-card>
<mat-card class="card1">
        <h1 style="text-align: center;">MIS COMPRAS</h1>
        <div class="example-container mat-elevation-z8">
          <mat-table #table [dataSource]="dataSource" matSort>
      
            <ng-container matColumnDef="id">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                Id.
              </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{ element.id }} </mat-cell>
            </ng-container>
      
            <ng-container matColumnDef="date">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                Fecha de pedido
              </mat-header-cell>
              <mat-cell *matCellDef="let element">
                {{ element.date }}
              </mat-cell>
            </ng-container>
      
            <ng-container matColumnDef="shipping_address">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                Direccion de envio
              </mat-header-cell>
              <mat-cell *matCellDef="let element">
                {{ element.shipping_address }}
              </mat-cell>
            </ng-container>
      
            <ng-container matColumnDef="state">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                Estado
              </mat-header-cell>
              <mat-cell *matCellDef="let element">
                {{ element.state }}
              </mat-cell>
            </ng-container>
      
            <ng-container matColumnDef="total_amount">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                Monto total
              </mat-header-cell>
              <mat-cell *matCellDef="let element">
                {{ element.total_amount }}
              </mat-cell>
            </ng-container>
      
            <ng-container matColumnDef="User_id">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                Id de Usuario
              </mat-header-cell>
              <mat-cell *matCellDef="let element">
                {{ element.User_id }}
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
          </mat-table>
      
        </div>
</mat-card>
</div>