
.container {
  height: 100%;
  background-image: url('../../../assets/img/home.png');
  opacity: 0.98;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-repeat: no-repeat;
  color: rgb(255, 255, 255);
}

.title {
  margin: 0;
  font-weight: 700;
  font-size: 3rem;
}

.description {
  font-size: 1rem;
  margin: 1rem 0;
}

.buttons {
  margin: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.button-space {
  margin: 0 1rem;
}

@media only screen and (max-width: 600px) {
  .title {
    font-size: 2rem;
  }
  .description {
    font-size: 1rem;
  }
  .buttons {
    flex-direction: column;
  }
  .button-space {
    margin: 1rem 0;
  }
}
