<div class="container">
    <mat-card class="profile_menu">
        <br>
         <button mat-raised-button [routerLink]= "'/seller-profile'">Detalle de la cuenta</button>
         <button mat-raised-button [routerLink]= "'/my-sales'">Mis ventas</button>
         <button mat-raised-button (click)="logout()">Cerrar sesión</button>
         <br>
    </mat-card>
    <mat-card class="card1">
    <h1 style="text-align: center;font-size: 3rem; line-height: 3rem;">Perfil del vendedor</h1>
    <table class="comprador-table">
      <tr>
        <th style="font-size: 2rem; line-height: 2rem;">id</th>
        <td style="font-size: 2rem; line-height: 2rem;">{{vendedor.id}}</td>
      </tr>
      <tr>
        <th style="font-size: 2rem; line-height: 2rem;">type</th>
        <td style="font-size: 2rem; line-height: 2rem;">{{vendedor.type}}</td>
      </tr>
      <tr>
        <th style="font-size: 2rem; line-height: 2rem;">name</th>
        <td style="font-size: 2rem; line-height: 2rem;">{{vendedor.name}}</td>
      </tr>
      <tr>
        <th style="font-size: 2rem; line-height: 2rem;">Lastname</th>
        <td style="font-size: 2rem; line-height: 2rem;">{{vendedor.last_name}}</td>
      </tr>
      <tr>
        <th style="font-size: 2rem; line-height: 2rem;">email</th>
        <td style="font-size: 2rem; line-height: 2rem;">{{vendedor.email}}</td>
      </tr>
      <tr>
        <th style="font-size: 2rem; line-height: 2rem;">phone</th>
        <td style="font-size: 2rem; line-height: 2rem;">{{vendedor.phone}}</td>
      </tr>
      <tr>
        <th style="font-size: 2rem; line-height: 2rem;">username</th>
        <td style="font-size: 2rem; line-height: 2rem;">{{vendedor.username}}</td>
      </tr>
      <tr>
        <th style="font-size: 2rem; line-height: 2rem;">password</th>
        <td style="font-size: 2rem; line-height: 2rem;">{{vendedor.password}}</td>
      </tr>
    </table>
</mat-card>
  </div>

