<mat-dialog-content class="payment-method">
  <h2 mat-dialog-title class="dialog-title">Método de Pago</h2>
  <p style="color: black; font-size: 1rem">
    Complete los campos para realizar la compra.
  </p>
  <form [formGroup]="form">
    <mat-form-field appearance="fill" class="form-group">
      <mat-label>Titular de la tarjeta</mat-label>
      <input
        matInput
        formControlName="card_holder"
        placeholder="Nombre del titular"
      />
    </mat-form-field>
    <mat-form-field appearance="fill" class="form-group">
      <mat-label>Número de tarjeta</mat-label>
      <input
        matInput
        formControlName="card_number"
        placeholder="Número de tarjeta"
      />
    </mat-form-field>
    <div class="form-row">
      <mat-form-field appearance="fill" class="form-group col">
        <mat-label>Código de Seguridad</mat-label>
        <input
          matInput
          formControlName="security_code"
          placeholder="Código de seguridad"
        />
      </mat-form-field>
      <mat-form-field appearance="fill" class="form-group col">
        <mat-label>Fecha de expiración</mat-label>
        <input
          matInput
          formControlName="expiration_day"
          placeholder="Fecha de expiración"
        />
      </mat-form-field>
    </div>
    <mat-form-field appearance="fill" class="form-group">
      <mat-label>Dirección</mat-label>
      <input
        matInput
        formControlName="address"
        placeholder="Número de tarjeta"
      />
    </mat-form-field>
    <p style="color: red">{{ errorMessage }}</p>
    <mat-dialog-actions style="justify-content: center" class="dialog-actions">
      <button
        mat-raised-button
        color="primary"
        mat-dialog-close
        color="primary"
      >
        Cancelar
      </button>
      <button
        mat-raised-button
        color="warn"
        (click)="pagar()"
        [disabled]="!this.form.valid"
        mat-dialog-close
        cdkFocusInitial
      >
        Pagar
      </button>
    </mat-dialog-actions>
  </form>
</mat-dialog-content>
