<footer id="footer" class="bg-primary">
  <div class="footer-content">
    <h1 class="footer-title">Contáctanos</h1>
    <div class="footer-contact">
      <h2 class="footer-subtitle">Nuestros canales de atención</h2>
      <div class="footer-info">
        <div class="footer-info-item">
          <i class="fas fa-envelope"></i>
          <span class="footer-info-label">Correo:</span>
          <span class="footer-info-value">toybox@gmail.com</span>
        </div>
        <div class="footer-info-item">
          <i class="fas fa-phone"></i>
          <span class="footer-info-label">Teléfono:</span>
          <span class="footer-info-value">987654321</span>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <h2 class="footer-bottom-text">© 2023 ToyBox<br>Made in UPC, Lima, Perú</h2>
  </div>
</footer>
