<div>
    <mat-toolbar> 
        <mat-toolbar-row>
            <span>
                <img src="assets/img/LOGO.png" alt="ToyBox Logo">
            </span>
            <span class="example-spacer"></span>
            <button mat-raised-button [routerLink]="'/home-buyer'">Inicio</button>
            <button mat-raised-button [routerLink]="'/buyer-catalog'">Catalogo</button>
            <button mat-raised-button [routerLink]="'/faq'">FAQ'S</button>
            <button mat-raised-button [routerLink]="'/footer'">Contacto</button>
            <img src="assets/img/user.png" alt="Perfil" mat-raised-button [routerLink]="'/buyer-profile'">
        </mat-toolbar-row>
    
    </mat-toolbar>
    </div>