<div class="container">
    <mat-card class="profile_menu">
        <br>
         <button mat-raised-button [routerLink]= "'/buyer-profile'">Detalle de la cuenta</button>
         <button mat-raised-button [routerLink]= "'/my-purchases'">Mis pedidos</button>
         <button mat-raised-button (click)="logout()">Cerrar sesión</button>

         <br>
    </mat-card>
    <mat-card class="card1">
    <h1 style="text-align: center;">Perfil del comprador</h1>
    <table class="comprador-table">
      <tr>
        <th>id</th>
        <td>{{user.id}}</td>  
      </tr>
      <tr>
        <th>type</th>
        <td>{{user.type}}</td>
      </tr>
      <tr>
        <th>name</th>
        <td>{{user.name}}</td>
      </tr>
      <tr>
        <th>Lastname</th>
        <td>{{user.last_name}}</td>
      </tr>
      <tr>
        <th>email</th>
        <td>{{user.email}}</td>
      </tr>
      <tr>
        <th>phone</th>
        <td>{{user.phone}}</td>
      </tr>
      <tr>
        <th>username</th>
        <td>{{user.username}}</td>
      </tr>
      <tr>
        <th>password</th>
        <td>{{user.password}}</td>
      </tr>
    </table>
</mat-card>
  </div>
  
  